.zival {
  background: #7ed6df;
  padding: 50px;
}

.zival h2 {
  color: #ed4c67;
  text-align: center;
  padding: 12%;
  font-size: 50px;
}

.zival img {
  border: 10px orange;
  width: 500px;
  border-radius: 50%;
}
